
 a {
    text-decoration: none;
    color: white;
    opacity: .8;
}

 a.active {
    color: white;
    opacity: 1;
}

.homeTitle {
    opacity: 1;
}

a #addButt {
    opacity: 1;
}

a #editButt {
    opacity: 1;
}

a:hover {
    color: white;
    opacity: 1;
}

.productCards {
 color: white;
 text-decoration: none;
 opacity: 1;
}

.productCards:hover {
 color: white;
 opacity: .8;
}
